html, body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
	
}
#body{
width:1200px;
height:1200px;

}
#background{
background-image:url("image/MUBackground.jpg");	
height:800px;

}
#navigation{
width:1200px;
height:300px;	
}

#info{
width:1200px;
height:300px;	
}
#info2{
width:1200px;
height:200px;	
}
.img{
	width:300px;
	height:250px;
	float:left;
	
}

.title{

	width:800px;
	float:right;
	margin-top:60px;
}

.title p{
	font-size:65px;
	
}
#class{
width:1200px;
height:350px;	
}
#class p{
	font-size:55px;
	text-align:center;
}

.profile{
	width:250px;
	height:250px;
		float:left;
}

#bar{
	background-color:#FFFAFA;
	width:1200px;
	height:300px;
}
.bar{
	background-color:#4CAF50;
	width:1200px;
	height:40px;	
}

.bar p{
	font-size:30px;	
	color:white;
	font-style:italic;
	text-align:center;
}

#login{
	
	width:300px;
	height:270px;
	border: solid #4CAF50 2px;
	float:right;
	border-radius:10%;
}
.p_align{
	float:right;
	margin-right:20px;
}

.p_align2{
	float:right;
	margin-right:325px;
}


#school2{
	float:left;
	margin-left:900px;
	
}

.line{
	width:1200px;
	height:10px;
	background-color:4CAF50;
}
.line2{
	width:1200px;
	height:40px;
	background-color:#4CAF50;
}

.line2 p{
	text-align:center;

}





table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #e1ebd4;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 1200px;
    background-color: #f1f1f1;
    border: 1px solid #555;
    float:left;
}

li a {
    display: block;
    color: #000;
    padding: 15px 80px;
    text-decoration: none;
}

li {
    text-align: center;
    
    float: left;
}

li:last-child {
    border-bottom: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}



h2{
	  font-family: Arial, Helvetica, sans-serif;
	  font-weight:normal;
}






.button {
    background-color:#4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	border-radius: 12px;
}





